.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-card-gap);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-card-gap);
  min-height: var(--spacing-xxl);
}
.header h4 { margin: 0; }
