.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.configCard {
  margin-bottom: 16px;
}

.configRow {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
