.container {
  max-width: 800px;
}

.title {
  margin: 0 !important;
  white-space: nowrap;
}

.card {
  margin-bottom: 24px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
}
