.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 48px;
}

.title {
  margin: 0 !important;
  font-weight: 600;
  white-space: nowrap;
}
