.container {
  width: 100%;
}

.title {
  margin: 0 !important;
  font-weight: 600;
  white-space: nowrap;
}

.card {
  margin-bottom: 24px;
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.userInfo {
  display: flex;
  flex-direction: column;
}
