.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-card-gap);
  max-width: 800px;
}

.header {
  display: flex;
  align-items: center;
  min-height: var(--spacing-xxl);
}

.title {
  margin: 0 !important;
  font-weight: 600;
  white-space: nowrap;
}
