.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.title {
  margin: 0 !important;
  font-weight: 600;
  white-space: nowrap;
}

.searchInput {
  max-width: 320px;
}

.table {
  flex: 1;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

@media (max-width: 767px) {
  .container {
    padding: 8px;
  }

  .header {
    flex-direction: column;
    gap: 8px;
  }

  .header > * {
    width: 100%;
  }

  .searchInput {
    max-width: 100%;
  }

  .table {
    overflow-x: auto;
  }
}
